<div class="w-full max-w-xs mx-auto">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h2 class="text-2xl mb-6">Reset your password</h2>
      <form [formGroup]="resetForm" class="gap-y-8" (ngSubmit)="reset()">
        <div>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" formControlName="password" placeholder="Password">
            <span *ngIf="resetForm.hasError('required', 'password') && (resetForm.controls['password'].dirty || resetFormSubmitted)" class="text-red-500">Password is required</span>
        </div>
        <div>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            <span *ngIf="resetForm.value.password != resetForm.value.confirmPassword" class="text-red-500">Password must match</span>
        </div>
        
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
</div>
  