<div class="w-full max-w-xs mx-auto">
    <div class="bg-white shadow-sm rounded px-8 pt-6 pb-5 border border-gray-100 hover:shadow-md transition ease-in-out">
      <h2 class="text-2xl mb-10">Login to account</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="h-16">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" type="text" formControlName="email" placeholder="Email">
          <span *ngIf="loginForm.hasError('required', 'email') && (loginForm.controls['email'].dirty || loginFormSubmitted)" class="text-red-500">Email is required</span>
          <span *ngIf="loginForm.hasError('email', 'email')" class="text-red-500">Email is invalid</span>
        </div>
        <div class="h-16 mt-1">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" formControlName="password" placeholder="Password">
            <span *ngIf="loginForm.hasError('required', 'password') && (loginForm.controls['password'].dirty || loginFormSubmitted)" class="text-red-500">Password is required</span>
        </div>
        <div class="flex items-center justify-between mt-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" type="submit">Login</button>
        </div>
      </form>
      <div class="text-center mt-9">
        <span>Forgot password?<br> Click <span class="text-blue-500 font-semibold underline cursor-pointer" routerLink="/forgot-password">here</span> to reset it.</span>
      </div>
    </div>
</div>
  