<div class="w-full">
    <div class="bg-white shadow-sm rounded px-8 pt-6 pb-5 border border-gray-100 hover:shadow-md transition ease-in-out flex flex-row space-x-5 h-[calc(100vh-4rem)]">
        <div class="max-w-min h-full flex-grow">
            <h2 class="text-2xl mb-4">{{ isEditMode ? "Storage info:" : "Create storage" }}</h2>


            <!-- <div class="flex flex-row space-x-4 mb-4">
                <button 
                class="font-bold py-1 px-2 border border-gray-300 rounded leading-8 cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline transition ease-in-out delay-75" 
                (click)="toggleInputForm()"
                [class.text-white]="toggleInput"
                [class.bg-blue-500]="toggleInput"
                [class.border-blue-500]="toggleInput"
                [ngClass]="{ 'hover:bg-gray-200': !toggleInput }">Container</button>
                <button 
                class="font-bold py-1 px-2 border border-gray-300 rounded leading-8 cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline transition ease-in-out delay-75" 
                (click)="toggleInputForm()"
                [class.text-white]="!toggleInput"
                [class.bg-blue-500]="!toggleInput"
                [class.border-blue-500]="!toggleInput"
                [ngClass]="{ 'hover:bg-gray-200': toggleInput }">Storage</button>
            </div> -->
                
            <form [formGroup]="containerForm" (ngSubmit)="onSubmit()">

                <hr class="my-4">

                <div class="h-16 min-w-52" *ngIf="!isEditMode">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="containerNumber" 
                    type="text" 
                    formControlName="containerNumber" 
                    placeholder="Container number">
                <span
                    *ngIf="containerForm.hasError('required', 'containerNumber') && (containerForm.controls['containerNumber'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Container num required.
                </span>
                </div>

                <div class="h-16 min-w-52" *ngIf="isEditMode">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="containerNumber" 
                    type="text" 
                    formControlName="containerNumber" 
                    placeholder="Search or Enter Container number"
                    (input)="onSearchContainerNumber()"
                    (focus)="onFocusDropdownContainerNumber()"
                    (blur)="onBlurDropdownContainerNumber()"/>
              
                <div *ngIf="filteredStorageNumberId.length > 0 && storageNumberIdDropdown" class="bg-white border rounded min-w-52 py-2 px-3 absolute">
                    <ul>
                    <li *ngFor="let item of filteredStorageNumberId" (click)="selectItemContainerNumber(item)" class="cursor-pointer rounded-md hover:bg-gray-200 py-1 px-2">
                        {{ item.label }}
                    </li>
                    </ul>
                </div>
              
                <span
                    *ngIf="containerForm.hasError('required', 'containerNumber') && (containerForm.controls['containerNumber'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Container number required.
                </span>
                </div>

                <div class="h-16 min-w-52">
                    <input 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        name="containerOwner" 
                        type="text" 
                        formControlName="containerOwner" 
                        placeholder="Search or Enter Container owner"
                        (input)="onSearchContainerOwner()"
                        (focus)="onFocusDropdownContainerOwner()"
                        (blur)="onBlurDropdownContainerOwner()"/>
                  
                    <div *ngIf="filteredOwnerId.length > 0 && ownerIdDropdown" class="bg-white border rounded min-w-52 py-2 px-3 absolute">
                        <ul>
                        <li *ngFor="let item of filteredOwnerId" (click)="selectItemContainerOwner(item.name)" class="cursor-pointer rounded-md hover:bg-gray-200 py-1 px-2">
                            {{ item.name }}
                        </li>
                        </ul>
                    </div>
                  
                    <span
                        *ngIf="containerForm.hasError('required', 'containerOwner') && (containerForm.controls['containerOwner'].dirty || formSubmitted)" 
                        class="text-red-500">
                        Container owner required.
                    </span>
                </div>
            
                <div class="h-16 mt-1 max-w-52">
                    <select 
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                      formControlName="size"
                      (ngModelChange)="!isEditMode ? checkCreate() : ''">
                      <option value="" disabled selected class="text-gray-700">Container size</option>
                      <option value="0">3m</option>
                      <option value="1">6m</option>
                      <option value="2">12m</option>
                    </select>
                    <span
                    *ngIf="(containerForm.hasError('required','size') || containerForm.hasError('invalidSize', 'size')) && (containerForm.controls['size'].dirty || formSubmitted)" 
                      class="text-red-500">
                      Size is required.
                    </span>
                </div>
            
                <div class="h-16 mt-1 max-w-52">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="contents" 
                    type="text" 
                    formControlName="contents" 
                    placeholder="Contents">
                <span
                    *ngIf="containerForm.hasError('required', 'contents') && (containerForm.controls['contents'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Contents are required.
                </span>
                </div>

                <div class="h-16 mt-1 max-w-52">
                    <select 
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                      formControlName="storageType"
                      (ngModelChange)="!isEditMode ? checkCreate() : ''">
                      <option value="" disabled selected class="text-gray-700">Storage type</option>
                      <option value="2">Normal</option>
                      <option value="1">Special</option>
                    </select>
                    <span
                      *ngIf="(containerForm.hasError('required', 'storageType') || containerForm.hasError('invalidStorageType', 'storageType')) && (containerForm.controls['storageType'].dirty || formSubmitted)" 
                      class="text-red-500">
                      Storage Type is required.
                    </span>
                </div>

                <div class="h-16 mt-1 max-w-52">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="weight" 
                    type="text" 
                    formControlName="weight" 
                    placeholder="Container weight">
                <span
                    *ngIf="containerForm.hasError('required', 'weight') && (containerForm.controls['weight'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Weight is required.
                </span>
                </div>
            
                <!-- Hidden submit button -->
                <button class="hidden" type="submit"></button>
            </form>

            <form [formGroup]="storageForm" (ngSubmit)="onSubmit()">

                <hr class="mb-2">
        
                <!-- Date Imported Input -->
                <div class="h-20 max-w-52">
                <span class="text-gray-600">Date imported: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateImported" 
                    type="datetime-local" 
                    formControlName="dateImported" 
                    placeholder="Date Imported">
                <span
                    *ngIf="storageForm.hasError('required', 'dateImported') && (storageForm.controls['dateImported'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Date Imported is required
                </span>
                </div>
            
                <!-- Date Exported Input -->
                <!-- <div class="h-20 mt-1 max-w-52">
                <span class="text-gray-600">Date exported: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateExported" 
                    type="datetime-local" 
                    formControlName="dateExported" 
                    placeholder="Date Exported">
                </div> -->
            
                <!-- Date Scheduled for Export Input -->
                <div class="h-20 mt-1 max-w-52">
                <span class="text-gray-600">Date Scheduled for Export: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateScheduledForExport" 
                    type="datetime-local" 
                    formControlName="dateScheduledForExport" 
                    placeholder="Date Scheduled for Export">
                </div>

                <!-- Currently Stored At Input -->
                <div class="h-20 mt-1 max-w-52 flex flex-row space-x-2">
                    <div>
                        <span class="text-gray-600">x: </span>
                        <input 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                            name="currentlyStoredAtX" 
                            type="text" 
                            formControlName="currentlyStoredAtX" 
                            value="{{ this.currentPosition.x }}"
                            placeholder="X"
                            (ngModelChange)="checkPosition()">
                    </div>
                    <div>
                        <span class="text-gray-600">y: </span>
                        <input 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                            name="currentlyStoredAtY" 
                            type="text" 
                            formControlName="currentlyStoredAtY" 
                            value="{{ this.currentPosition.y }}"
                            placeholder="Y"
                            (ngModelChange)="checkPosition()">
                    </div>
                    <div>
                        <span class="text-gray-600">z: </span>
                        <input 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                            name="currentlyStoredAtZ" 
                            type="text" 
                            formControlName="currentlyStoredAtZ" 
                            value="{{ this.currentPosition.z }}"
                            placeholder="Z"
                            (ngModelChange)="checkPosition()">
                    </div>
                </div>

                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded cursor-pointer max-w-fit focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="autoLocateStorage()">Auto locate</div>
            
                <!-- Hidden submit button -->
                <button class="hidden" type="submit"></button>
            </form>


            <!-- <div *ngIf="loading" class="h-1.5 min-w-52 rounded-md bg-gray-200 overflow-hidden absolute">
                <div class="h-full w-1/3 bg-blue-500 animate-loading"></div>
            </div>         -->

            <div class="flex flex-row space-x-5">
                <div class="flex items-center justify-between mt-7">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="onSubmit()">{{ isEditMode ? "Update" : "Create" }}</button>
                </div>
                <div *ngIf="isEditMode" class="flex items-center justify-between mt-7">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="delete()">Export</button>
                </div>
            </div>
        </div>
        <div class="border w-full h-full">
            <app-storage-three-d [isEditMode]="isEditMode"></app-storage-three-d>
        </div>
    </div>
</div>
