<div class="w-full">
    <div class="bg-white shadow-sm rounded px-8 pt-6 pb-5 border border-gray-100 hover:shadow-md transition ease-in-out flex flex-row space-x-5 h-[calc(100vh-4rem)]">
        <div class="max-w-min h-full flex-grow">
            <h2 class="text-2xl mb-8">{{ isEditMode ? "Storage information:" : "Create new storage" }}</h2>


            <div class="flex flex-row space-x-4 mb-4">
                <button 
                class="font-bold py-1 px-2 border border-gray-300 rounded leading-8 cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline transition ease-in-out delay-75" 
                (click)="toggleInputForm()"
                [class.text-white]="toggleInput"
                [class.bg-blue-500]="toggleInput"
                [class.border-blue-500]="toggleInput"
                [ngClass]="{ 'hover:bg-gray-200': !toggleInput }">Container</button>
                <button 
                class="font-bold py-1 px-2 border border-gray-300 rounded leading-8 cursor-pointer hover:bg-gray-200 focus:outline-none focus:shadow-outline transition ease-in-out delay-75" 
                (click)="toggleInputForm()"
                [class.text-white]="!toggleInput"
                [class.bg-blue-500]="!toggleInput"
                [class.border-blue-500]="!toggleInput"
                [ngClass]="{ 'hover:bg-gray-200': toggleInput }">Storage</button>
            </div>


            <form [formGroup]="storageForm" (ngSubmit)="onSubmit()" *ngIf="!toggleInput">

                <hr class="my-5">
        
                <!-- Date Imported Input -->
                <div class="h-20 max-w-52">
                <span class="text-gray-600">Date imported: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateImported" 
                    type="datetime-local" 
                    formControlName="dateImported" 
                    placeholder="Date Imported">
                <span
                    *ngIf="storageForm.hasError('required', 'dateImported') && (storageForm.controls['dateImported'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Date Imported is required
                </span>
                </div>
            
                <!-- Date Exported Input -->
                <!-- <div class="h-20 mt-1 max-w-52">
                <span class="text-gray-600">Date exported: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateExported" 
                    type="datetime-local" 
                    formControlName="dateExported" 
                    placeholder="Date Exported">
                </div> -->
            
                <!-- Date Scheduled for Export Input -->
                <div class="h-20 mt-1 max-w-52">
                <span class="text-gray-600">Date Scheduled for Export: </span>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="dateScheduledForExport" 
                    type="datetime-local" 
                    formControlName="dateScheduledForExport" 
                    placeholder="Date Scheduled for Export">
                </div>

                <!-- Currently Stored At Input -->
                <div class="h-16 mt-1 max-w-52">
                    <input 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        name="currentlyStoredAt" 
                        type="text" 
                        formControlName="currentlyStoredAt" 
                        placeholder="Currently Stored At">
                </div>
            
                <!-- Hidden submit button -->
                <button class="hidden" type="submit"></button>
            </form>

                
            <form [formGroup]="containerForm" (ngSubmit)="onSubmit()" *ngIf="toggleInput">

                <hr class="my-5">
        
                <div class="h-16 min-w-52">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="containerNumber" 
                    type="text" 
                    formControlName="containerNumber" 
                    placeholder="Container number">
                <span
                    *ngIf="containerForm.hasError('required', 'containerNumber') && (containerForm.controls['containerNumber'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Container num required.
                </span>
                </div>
            
                <div class="h-16 mt-1 max-w-52">
                    <select 
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                      formControlName="size">
                      <option value="" disabled selected>Container size</option>
                      <option value="0">3m</option>
                      <option value="1">6m</option>
                      <option value="2">12m</option>
                    </select>
                    <span
                      *ngIf="(containerForm.hasError('size') || containerForm.hasError('invalidSize', 'size')) && (containerForm.controls['size'].dirty || formSubmitted)" 
                      class="text-red-500">
                      Size is required.
                    </span>
                </div>
            
                <div class="h-16 mt-1 max-w-52">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="contents" 
                    type="text" 
                    formControlName="contents" 
                    placeholder="Contents">
                <span
                    *ngIf="containerForm.hasError('required', 'contents') && (containerForm.controls['contents'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Contents are required.
                </span>
                </div>

                <div class="h-16 mt-1 max-w-52">
                    <select 
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                      formControlName="storageType">
                      <option value="" disabled selected class="text-gray-700">Storage type</option>
                      <option value="2">Normal</option>
                      <option value="1">Special</option>
                    </select>
                    <span
                      *ngIf="(containerForm.hasError('required', 'storageType') || containerForm.hasError('invalidStorageType', 'storageType')) && (containerForm.controls['storageType'].dirty || formSubmitted)" 
                      class="text-red-500">
                      Storage Type is required.
                    </span>
                </div>

                <div class="h-16 mt-1 max-w-52">
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    name="weight" 
                    type="text" 
                    formControlName="weight" 
                    placeholder="Container weight">
                <span
                    *ngIf="containerForm.hasError('required', 'weight') && (containerForm.controls['weight'].dirty || formSubmitted)" 
                    class="text-red-500">
                    Weight is required.
                </span>
                </div>
            
                <!-- Hidden submit button -->
                <button class="hidden" type="submit"></button>
            </form>
            
            
            

            <div class="flex flex-row space-x-5">
                <div class="flex items-center justify-between mt-10">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="onSubmit()">{{ isEditMode ? "Update" : "Create" }}</button>
                </div>
                <div *ngIf="isEditMode" class="flex items-center justify-between mt-10">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="delete()">Export</button>
                </div>
            </div>
        </div>
        <div class="border w-full h-full">
            <app-storage-three-d></app-storage-three-d>
        </div>
    </div>
</div>
