<div class="w-full sm:max-w-xl max-w-sm mx-auto">
    <div class="bg-white shadow-sm rounded px-8 pt-6 pb-8 mb-4 border border-gray-100 hover:shadow-md transition ease-in-out">
    <h2 class="text-2xl mb-10">Register user</h2>
    <div class="flex flex-col sm:space-x-7 sm:flex-row">
    <div class="sm:w-1/2 w-full">
      <form [formGroup]="registerForm" class="gap-y-8" (ngSubmit)="register()">
        <div class="h-16">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="firstName" type="text" formControlName="firstName" placeholder="First Name">
          <span *ngIf="registerForm.hasError('required', 'firstName') && (registerForm.controls['firstName'].dirty || registerFormSubmitted)" class="text-red-500">First Name is required</span>
        </div>
        <div class="h-16">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="lastName" type="text" formControlName="lastName" placeholder="Last Name">
          <span *ngIf="registerForm.hasError('required', 'lastName') && (registerForm.controls['lastName'].dirty || registerFormSubmitted)" class="text-red-500">Last Name is required</span>
        </div>
        <div class="h-16">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" type="text" formControlName="email" placeholder="Email">
          <span *ngIf="registerForm.hasError('required', 'email') && (registerForm.controls['email'].dirty || registerFormSubmitted)" class="text-red-500">Email is required</span>
          <span *ngIf="registerForm.hasError('email', 'email')" class="text-red-500">Email is invalid</span>
        </div>
        <div class="h-16">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="username" type="text" formControlName="username" placeholder="Username">
            <span *ngIf="registerForm.hasError('required', 'username') && (registerForm.controls['username'].dirty || registerFormSubmitted)" class="text-red-500">Username is required</span>
        </div>
        <div class="h-16">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" formControlName="password" placeholder="Password">
            <span *ngIf="registerForm.hasError('required', 'password') && (registerForm.controls['password'].dirty || registerFormSubmitted)" class="text-red-500">Password is required</span>
            <span class="text-red-500">
                <span *ngIf="registerForm.hasError('minLengthInvalid', 'password') && !registerForm.hasError('required', 'password')" >length 8, </span>
                <span *ngIf="registerForm.hasError('missingLowercase', 'password') && !registerForm.hasError('required', 'password')" >lower, </span>
                <span *ngIf="registerForm.hasError('missingUppercase', 'password') && !registerForm.hasError('required', 'password')" >upper, </span>
                <span *ngIf="registerForm.hasError('missingNumber', 'password') && !registerForm.hasError('required', 'password')" >number, </span>
                <span *ngIf="registerForm.hasError('missingSpecialCharacter', 'password') && !registerForm.hasError('required', 'password')" >special</span>
            </span>
        </div>
        <div class="h-16">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            <span *ngIf="registerForm.value.password != registerForm.value.confirmPassword" class="text-red-500">Password must match</span>
        </div>
        <button class="invisible" type="submit"></button>
      </form>
    </div>
    <div class="sm:w-1/2 w-full">
        <app-role-selection (selectedRolesOutput)="handleSelectedRolesOutput($event)"></app-role-selection>
    </div>
    </div>
    <div class="flex items-center justify-between sm:mt-0 mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition ease-in-out delay-75" (click)="register()">Register</button>
      </div>
    </div>
</div>
  