<div class="fixed bottom-10 right-10 min-w-[300px] border border-gray-200 shadow-sm hover:shadow-md px-5 py-3 transition-all duration-300 ease-in-out transform" 
     [class.opacity-100]="isOpen()"
     [class.translate-x-0]="isOpen()"
     [class.opacity-0]="!isOpen()"
     [class.translate-x-full]="!isOpen()">
    <div class="text-2xl flex justify-between">
        <span class="font-semibold mr-3">{{ title() == undefined ? "No title provided" : title() }}</span>
        <span class="cursor-pointer" (click)="closeModal()">🗙</span>
    </div>
    <div class="text-xl" *ngIf="text() != undefined">
        {{ text() }}
    </div>
</div>
